<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>TechHelper</title>
</head>
<body>
  <nav>
    <div><strong>🧠 Tech Interview Trainer</strong></div>
    <ul>
      <li><a href="index.html" class="nav-link">Home</a></li>
      <li><a href="practice.html" class="nav-link">Practice</a></li>
      <li><a href="history.html" class="nav-link">My History</a></li>
    </ul>
  </nav>

  <section>
    <h2>📖 Your Previous Answers</h2>
    <div id="answers-list">
      <p>Loading history...</p>
    </div>
  </section>
  <script src="../static/script-history.js" defer></script>

  <div id="confirm-modal" class="confirm-modal">
    <div class="confirm-box">
      <p id="confirm-message"></p>
      <div class="confirm-buttons">
        <button id="confirm-yes">Yes</button>
        <button id="confirm-no">Cancel</button>
      </div>
    </div>
  </div>

</body>
</html>